$primary-color: #ffa500;
$secondary-color: #454545;
$background-color: #efeeed;

main.container {
  width: 100%;
  margin: 0 0;
  padding: 20px;
  background-color: $background-color;

  h1 {
    color: $primary-color;
  }

  p {
    color: $secondary-color;
  }
}
