@import 'scss/abstracts/variables', 'scss/abstracts/functions',
  'scss/abstracts/mixins', 'scss/abstracts/include-media';
section.beta-request {
  // background-color: color(primary, 1);
  color: color(typography, 1) !important;
  position: relative;
  z-index: 1;
  max-width: 100vw;
  width: 100%;

  h3 {
    color: color(typography, 1);
    margin-bottom: 48px;
  }

  .section-inner {
    padding-top: 48px;
    padding-bottom: 48px;

    p {
      max-width: 600px;
      width: 100%;
      margin: auto;
    }
  }

  .beta-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 800px;
    max-width: 100%;
    padding: 0 24px;
    margin: auto;
  }

  .beta-request-bg {
    height: 400px;
    z-index: -1;
    margin-top: -120px;

    @include media('<medium') {
      display: none;
    }
  }
}
.beta-request-success {
  margin-top: 48px;
  img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
  }
}

form.beta {
  position: relative;
  text-align: left;
  display: flex;

  margin: auto;
  flex-direction: column;
  justify-content: center;
  // align-items: flex-end;
  gap: 12px;

  input,
  select {
    border: 1px solid color(bg, 3);
    padding: 8px;
    width: 100%;
    border-radius: 4px;
    font-size: 16px;
  }

  label {
    // padding: 8px;
    font-size: 16px;
    // color: color(typography, 1);
    font-weight: bold;
  }

  input.button {
    width: auto;
    margin: auto;
  }

  @include media('>medium') {
    margin-top: 24px;
  }
}

.disclaimer {
  // color: color(typography, 3);
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-top: -24px;
}
.select {
  position: relative;
  &__input {
    height: 48px;
  }
}
